<a href="https://colab.research.google.com/github/Jyothi191022/jyo/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

STRING METHODS

In [ ]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [ ]:
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

In [ ]:
txt = "banana"

x = txt.center(20)

print(x)

       banana

In [ ]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [ ]:
txt = "My name is St√•le"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [ ]:
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [ ]:
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [ ]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [ ]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [ ]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

In [ ]:
txt = "Company12"

x = txt.isalnum()

print(x)

True

In [ ]:
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [ ]:
txt = "Company123"

x = txt.isascii()

print(x)

True

In [ ]:
txt = "1234"

x = txt.isdecimal()

print(x)

True

In [ ]:
txt = "50800"

x = txt.isdigit()

print(x)

True

In [ ]:
txt = "Demo"

x = txt.isidentifier()

print(x)

True

In [ ]:
txt = "hello world!"

x = txt.islower()

print(x)

True

In [ ]:
txt = "565543"

x = txt.isnumeric()

print(x)

True

In [ ]:
txt = "Hello! Are you #1?"

x = txt.isprintable()

print(x)

True

In [ ]:
txt = "Hello, And Welcome To My World!"

x = txt.istitle()

print(x)

True

In [ ]:
txt = "THIS IS NOW!"

x = txt.isupper()

print(x)

True

In [ ]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [ ]:
txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [ ]:
txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

In [ ]:
txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [ ]:
txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [ ]:
txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

In [ ]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [ ]:
txt = "Mi casa, su casa."

x = txt.rfind("casa")

print(x)

12

In [ ]:
txt = "Mi casa, su casa."

x = txt.rindex("casa")

print(x)

12

In [ ]:
txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [ ]:

txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [ ]:
txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

In [ ]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [ ]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [ ]:
txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

In [ ]:
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [ ]:
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

In [ ]:
txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

In [ ]:
#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

In [ ]:
txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

In [ ]:
txt = "50"

x = txt.zfill(10)

print(x)

0000000050

LIST METHODS

In [ ]:
fruits = ["apple", "banana", "cherry"]

fruits.append("orange")

print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
fruits = ["apple", "banana", "cherry"]

fruits.clear()

print(fruits)

[]

In [ ]:
fruits = ["apple", "banana", "cherry"]

x = fruits.copy()

print(x)

['apple', 'banana', 'cherry']

In [ ]:
fruits = ["apple", "banana", "cherry"]

x = fruits.count("cherry")

print(x)

1

In [ ]:
fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)

print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [ ]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry")

print(x)

2

In [ ]:
fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange")

print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
fruits = ['apple', 'banana', 'cherry']

fruits.pop(1)

print(fruits)

['apple', 'cherry']

In [ ]:
fruits = ['apple', 'banana', 'cherry']

fruits.remove("banana")

print(fruits)

['apple', 'cherry']

In [ ]:
fruits = ['apple', 'banana', 'cherry']

fruits.reverse()

print(fruits)

['cherry', 'banana', 'apple']

In [ ]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort()

print(cars)

['BMW', 'Ford', 'Volvo']

DICTIONARY METHODS

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.clear()

print(car)

{}

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.copy()

print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
x = ('key1', 'key2', 'key3')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("model")

print(x)

Mustang

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.pop("model")

print(car)

{'brand': 'Ford', 'year': 1964}

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.popitem()

print(car)

{'brand': 'Ford', 'model': 'Mustang'}

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")

print(x)

Mustang

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "White"})

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])

TUPLE METHODS

In [ ]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [ ]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

SET METHODS

In [ ]:
fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'banana', 'apple', 'orange', 'cherry'}

In [ ]:
fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

In [ ]:
fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'banana', 'apple', 'cherry'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'banana', 'cherry'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'banana', 'cherry'}

In [ ]:
fruits = {"apple", "banana", "cherry"}

fruits.discard("banana")

print(fruits)

{'apple', 'cherry'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

In [ ]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [ ]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

In [ ]:
fruits = {"apple", "banana", "cherry"}

fruits.pop()

print(fruits)

{'apple', 'cherry'}

In [ ]:
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

{'apple', 'cherry'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'microsoft', 'cherry', 'banana', 'google'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'cherry', 'banana', 'google'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'banana', 'apple', 'microsoft', 'cherry', 'google'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'banana', 'apple', 'microsoft', 'cherry', 'google'}

BUILT IN FUNCTIONS

In [ ]:
x = abs(-7.25)
print(x)

7.25

In [ ]:
mylist = [True, True, True]
x = all(mylist)
print(x)

True

In [ ]:
mylist = [False, True, False]
x = any(mylist)
print(x)

True

In [ ]:
x = ascii("My name is St√•le")
print(x)

'My name is St\xe5le'

In [ ]:
x = bin(36)
print(x)

0b100100

In [ ]:
x = bin(36)
print(x)

0b100100

In [ ]:
x = bytearray(4)
print(x)

bytearray(b'\x00\x00\x00\x00')

In [ ]:
x = bytes(4)
print(x)

b'\x00\x00\x00\x00'

In [ ]:
def x():
  a = 5

print(callable(x))

True

In [ ]:
x = chr(97)

print(x)

a

In [ ]:
x = compile('print(55)', 'test', 'eval')
exec(x)

55

In [ ]:
x = complex(3, 5)
print(x)

(3+5j)

In [ ]:
class Person:
  name = "John"
  age = 36
  country = "Norway"

delattr(Person, 'age')

In [ ]:
x = dict(name = "John", age = 36, country = "Norway")

print(x)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [ ]:
class Person:
  name = "John"
  age = 36
  country = "Norway"

print(dir(Person))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'age', 'country', 'name']

In [ ]:
x = divmod(5, 2)

print(x)

(2, 1)

In [ ]:
x = ('apple', 'banana', 'cherry')
y = enumerate(x)

print(list(y))

[(0, 'apple'), (1, 'banana'), (2, 'cherry')]

In [ ]:
x = 'print(55)'
eval(x)

55

In [ ]:
x = 'name = "John"\nprint(name)'
exec(x)

John

In [ ]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)

for x in adults:
  print(x)

18
24
32

In [ ]:
x = float(3)

print(x)

3.0

In [ ]:
x = format(0.5, '%')

print(x)

50.000000%

In [ ]:
mylist = ['apple', 'banana', 'cherry']
x = frozenset(mylist)
print(x)

frozenset({'banana', 'apple', 'cherry'})

In [ ]:
class Person:
  name = "John"
  age = 36
  country = "Norway"

x = getattr(Person, 'age')

print(x)

36

In [ ]:
x = globals()
print(x)

{'__name__': '__main__', '__doc__': 'Automatically created module for IPython interactive environment', '__package__': None, '__loader__': None, '__spec__': None, '__builtin__': <module 'builtins' (built-in)>, '__builtins__': <module 'builtins' (built-in)>, '_ih': ['', 'txt = "hello, and welcome to my world."\n\nx = txt.capitalize()\n\nprint (x)', 'txt = "Hello, And Welcome To My World!"\n\nx = txt.casefold()\n\nprint(x)', 'txt = "banana"\n\nx = txt.center(20)\n\nprint(x)', 'txt = "I love apples, apple are my favorite fruit"\n\nx = txt.count("apple")\n\nprint(x)', 'txt = "My name is St√•le"\n\nx = txt.encode()\n\nprint(x)', 'txt = "Hello, welcome to my world."\n\nx = txt.endswith(".")\n\nprint(x)', 'txt = "H\\te\\tl\\tl\\to"\n\nx =  txt.expandtabs(2)\n\nprint(x)', 'txt = "Hello, welcome to my world."\n\nx = txt.find("welcome")\n\nprint(x)', 'txt = "For only {price:.2f} dollars!"\nprint(txt.format(price = 49))', 'txt = "Hello, welcome to my world."\n\nx = txt.index("welcome")\n\nprint(x)', 'txt = "Company12"\n\nx = txt.isalnum()\n\nprint(x)', 'txt = "CompanyX"\n\nx = txt.isalpha()\n\nprint(x)', 'txt = "Company123"\n\nx = txt.isascii()\n\nprint(x)', 'txt = "1234"\n\nx = txt.isdecimal()\n\nprint(x)', 'txt = "50800"\n\nx = txt.isdigit()\n\nprint(x)', 'txt = "Demo"\n\nx = txt.isidentifier()\n\nprint(x)', 'txt = "hello world!"\n\nx = txt.islower()\n\nprint(x)', 'txt = "565543"\n\nx = txt.isnumeric()\n\nprint(x)', 'txt = "Hello! Are you #1?"\n\nx = txt.isprintable()\n\nprint(x)', 'txt = "   "\n\nx = txt.isspace()\n\nprint(x)', 'txt = "Hello, And Welcome To My World!"\n\nx = txt.istitle()\n\nprint(x)', 'txt = "THIS IS NOW!"\n\nx = txt.isupper()\n\nprint(x)', 'myTuple = ("John", "Peter", "Vicky")\n\nx = "#".join(myTuple)\n\nprint(x)', 'txt = "banana"\n\nx = txt.ljust(20)\n\nprint(x, "is my favorite fruit.")', 'txt = "Hello my FRIENDS"\n\nx = txt.lower()\n\nprint(x)', 'txt = "     banana     "\n\nx = txt.lstrip()\n\nprint("of all fruits", x, "is my favorite")', 'txt = "Hello Sam!"\nmytable = str.maketrans("S", "P")\nprint(txt.translate(mytable))', 'txt = "I could eat bananas all day"\n\nx = txt.partition("bananas")\n\nprint(x)', 'txt = "I like bananas"\n\nx = txt.replace("bananas", "apples")\n\nprint(x)', 'txt = "Mi casa, su casa."\n\nx = txt.rfind("casa")\n\nprint(x)', 'txt = "Mi casa, su casa."\n\nx = txt.rindex("casa")\n\nprint(x)', 'txt = "banana"\n\nx = txt.rjust(20)\n\nprint(x, "is my favorite fruit.")', 'txt = "I could eat bananas all day, bananas are my favorite fruit"\n\nx = txt.rpartition("bananas")\n\nprint(x)', 'txt = "apple, banana, cherry"\n\nx = txt.rsplit(", ")\n\nprint(x)', 'txt = "welcome to the jungle"\n\nx = txt.split()\n\nprint(x)', 'txt = "Thank you for the music\\nWelcome to the jungle"\n\nx = txt.splitlines()\n\nprint(x)', 'txt = "Hello, welcome to my world."\n\nx = txt.startswith("Hello")\n\nprint(x)', 'txt = "     banana     "\n\nx = txt.strip()\n\nprint("of all fruits", x, "is my favorite")', 'txt = "Hello My Name Is PETER"\n\nx = txt.swapcase()\n\nprint(x)', 'txt = "Welcome to my world"\n\nx = txt.title()\n\nprint(x)', '#use a dictionary with ascii codes to replace 83 (S) with 80 (P):\nmydict = {83:  80}\ntxt = "Hello Sam!"\nprint(txt.translate(mydict))', 'txt = "Hello my friends"\n\nx = txt.upper()\n\nprint(x)', 'txt = "50"\n\nx = txt.zfill(10)\n\nprint(x)', 'fruits = [\'apple\', \'banana\', \'cherry\']\nfruits.append("orange")', "fruits = ['apple', 'banana', 'cherry', 'orange']\n\nfruits.clear()", 'fruits = ["apple", "banana", "cherry"]\n\nfruits.clear()\n\nprint(fruits)', 'fruits = ["apple", "banana", "cherry"]\n\nfruits.append("orange")\n\nprint(fruits)', 'fruits = ["apple", "banana", "cherry"]\n\nx = fruits.copy()\n\nprint(x)', 'fruits = ["apple", "banana", "cherry"]\n\nx = fruits.count("cherry")\n\nprint(x)', "fruits = ['apple', 'banana', 'cherry']\n\ncars = ['Ford', 'BMW', 'Volvo']\n\nfruits.extend(cars)\n\nprint(fruits)", 'fruits = [\'apple\', \'banana\', \'cherry\']\n\nx = fruits.index("cherry")\n\nprint(x)', 'fruits = [\'apple\', \'banana\', \'cherry\']\n\nfruits.insert(1, "orange")\n\nprint(fruits)', "fruits = ['apple', 'banana', 'cherry']\n\nfruits.pop(1)\n\nprint(fruits)", 'fruits = [\'apple\', \'banana\', \'cherry\']\n\nfruits.remove("banana")\n\nprint(fruits)', "fruits = ['apple', 'banana', 'cherry']\n\nfruits.reverse()\n\nprint(fruits)", "cars = ['Ford', 'BMW', 'Volvo']\n\ncars.sort()\n\nprint(cars)", 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\ncar.clear()\n\nprint(car)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\nx = car.copy()\n\nprint(x)', "x = ('key1', 'key2', 'key3')\ny = 0\n\nthisdict = dict.fromkeys(x, y)\n\nprint(thisdict)", 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\nx = car.get("model")\n\nprint(x)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\nx = car.items()\n\nprint(x)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\nx = car.keys()\n\nprint(x)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\ncar.pop("model")\n\nprint(car)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\ncar.popitem()\n\nprint(car)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\nx = car.setdefault("model", "Bronco")\n\nprint(x)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\ncar.update({"color": "White"})\n\nprint(car)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\nx = car.values()\n\nprint(x)', 'thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)\n\nx = thistuple.count(5)\n\nprint(x)', 'thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)\n\nx = thistuple.index(8)\n\nprint(x)', 'fruits = {"apple", "banana", "cherry"}\n\nfruits.add("orange")\n\nprint(fruits)', 'fruits = {"apple", "banana", "cherry"}\n\nfruits.clear()\n\nprint(fruits)', 'fruits = {"apple", "banana", "cherry"}\n\nx = fruits.copy()\n\nprint(x)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nz = x.difference(y)\n\nprint(z)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nx.difference_update(y)\n\nprint(x)', 'fruits = {"apple", "banana", "cherry"}\n\nfruits.discard("banana")\n\nprint(fruits)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nz = x.intersection(y)\n\nprint(z)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nx.intersection_update(y)\n\nprint(x)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "facebook"}\n\nz = x.isdisjoint(y)\n\nprint(z)', 'x = {"a", "b", "c"}\ny = {"f", "e", "d", "c", "b", "a"}\n\nz = x.issubset(y)\n\nprint(z)', 'x = {"f", "e", "d", "c", "b", "a"}\ny = {"a", "b", "c"}\n\nz = x.issuperset(y)\n\nprint(z)', 'fruits = {"apple", "banana", "cherry"}\n\nfruits.pop()\n\nprint(fruits)', 'fruits = {"apple", "banana", "cherry"}\n\nfruits.remove("banana")\n\nprint(fruits)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nz = x.symmetric_difference(y)\n\nprint(z)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nx.symmetric_difference_update(y)\n\nprint(x)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nz = x.union(y)\n\nprint(z)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nx.update(y)\n\nprint(x)', 'x = abs(-7.25)\nprint(x)', 'mylist = [True, True, True]\nx = all(mylist)\nprint(x)', 'mylist = [False, True, False]\nx = any(mylist)\nprint(x)', 'x = ascii("My name is St√•le")\nprint(x)', 'x = bin(36)\nprint(x)', 'x = bin(36)\nprint(x)', 'x = bytearray(4)\nprint(x)', 'x = bytes(4)\nprint(x)', 'def x():\n  a = 5\n\nprint(callable(x))', 'x = chr(97)\n\nprint(x)', "x = compile('print(55)', 'test', 'eval')\nexec(x)", 'x = complex(3, 5)\nprint(x)', 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\ndelattr(Person, \'age\')', 'x = dict(name = "John", age = 36, country = "Norway")\n\nprint(x)', 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\nprint(dir(Person))', 'x = divmod(5, 2)\n\nprint(x)', "x = ('apple', 'banana', 'cherry')\ny = enumerate(x)\n\nprint(list(y))", "x = 'print(55)'\neval(x)", 'x = \'name = "John"\\nprint(name)\'\nexec(x)', 'ages = [5, 12, 17, 18, 24, 32]\n\ndef myFunc(x):\n  if x < 18:\n    return False\n  else:\n    return True\n\nadults = filter(myFunc, ages)\n\nfor x in adults:\n  print(x)', 'x = float(3)\n\nprint(x)', "x = format(0.5, '%')\n\nprint(x)", "mylist = ['apple', 'banana', 'cherry']\nx = frozenset(mylist)\nprint(x)", 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\nx = getattr(Person, \'age\')\n\nprint(x)', 'x = globals()\nprint(x)'], '_oh': {}, '_dh': ['/content'], 'In': ['', 'txt = "hello, and welcome to my world."\n\nx = txt.capitalize()\n\nprint (x)', 'txt = "Hello, And Welcome To My World!"\n\nx = txt.casefold()\n\nprint(x)', 'txt = "banana"\n\nx = txt.center(20)\n\nprint(x)', 'txt = "I love apples, apple are my favorite fruit"\n\nx = txt.count("apple")\n\nprint(x)', 'txt = "My name is St√•le"\n\nx = txt.encode()\n\nprint(x)', 'txt = "Hello, welcome to my world."\n\nx = txt.endswith(".")\n\nprint(x)', 'txt = "H\\te\\tl\\tl\\to"\n\nx =  txt.expandtabs(2)\n\nprint(x)', 'txt = "Hello, welcome to my world."\n\nx = txt.find("welcome")\n\nprint(x)', 'txt = "For only {price:.2f} dollars!"\nprint(txt.format(price = 49))', 'txt = "Hello, welcome to my world."\n\nx = txt.index("welcome")\n\nprint(x)', 'txt = "Company12"\n\nx = txt.isalnum()\n\nprint(x)', 'txt = "CompanyX"\n\nx = txt.isalpha()\n\nprint(x)', 'txt = "Company123"\n\nx = txt.isascii()\n\nprint(x)', 'txt = "1234"\n\nx = txt.isdecimal()\n\nprint(x)', 'txt = "50800"\n\nx = txt.isdigit()\n\nprint(x)', 'txt = "Demo"\n\nx = txt.isidentifier()\n\nprint(x)', 'txt = "hello world!"\n\nx = txt.islower()\n\nprint(x)', 'txt = "565543"\n\nx = txt.isnumeric()\n\nprint(x)', 'txt = "Hello! Are you #1?"\n\nx = txt.isprintable()\n\nprint(x)', 'txt = "   "\n\nx = txt.isspace()\n\nprint(x)', 'txt = "Hello, And Welcome To My World!"\n\nx = txt.istitle()\n\nprint(x)', 'txt = "THIS IS NOW!"\n\nx = txt.isupper()\n\nprint(x)', 'myTuple = ("John", "Peter", "Vicky")\n\nx = "#".join(myTuple)\n\nprint(x)', 'txt = "banana"\n\nx = txt.ljust(20)\n\nprint(x, "is my favorite fruit.")', 'txt = "Hello my FRIENDS"\n\nx = txt.lower()\n\nprint(x)', 'txt = "     banana     "\n\nx = txt.lstrip()\n\nprint("of all fruits", x, "is my favorite")', 'txt = "Hello Sam!"\nmytable = str.maketrans("S", "P")\nprint(txt.translate(mytable))', 'txt = "I could eat bananas all day"\n\nx = txt.partition("bananas")\n\nprint(x)', 'txt = "I like bananas"\n\nx = txt.replace("bananas", "apples")\n\nprint(x)', 'txt = "Mi casa, su casa."\n\nx = txt.rfind("casa")\n\nprint(x)', 'txt = "Mi casa, su casa."\n\nx = txt.rindex("casa")\n\nprint(x)', 'txt = "banana"\n\nx = txt.rjust(20)\n\nprint(x, "is my favorite fruit.")', 'txt = "I could eat bananas all day, bananas are my favorite fruit"\n\nx = txt.rpartition("bananas")\n\nprint(x)', 'txt = "apple, banana, cherry"\n\nx = txt.rsplit(", ")\n\nprint(x)', 'txt = "welcome to the jungle"\n\nx = txt.split()\n\nprint(x)', 'txt = "Thank you for the music\\nWelcome to the jungle"\n\nx = txt.splitlines()\n\nprint(x)', 'txt = "Hello, welcome to my world."\n\nx = txt.startswith("Hello")\n\nprint(x)', 'txt = "     banana     "\n\nx = txt.strip()\n\nprint("of all fruits", x, "is my favorite")', 'txt = "Hello My Name Is PETER"\n\nx = txt.swapcase()\n\nprint(x)', 'txt = "Welcome to my world"\n\nx = txt.title()\n\nprint(x)', '#use a dictionary with ascii codes to replace 83 (S) with 80 (P):\nmydict = {83:  80}\ntxt = "Hello Sam!"\nprint(txt.translate(mydict))', 'txt = "Hello my friends"\n\nx = txt.upper()\n\nprint(x)', 'txt = "50"\n\nx = txt.zfill(10)\n\nprint(x)', 'fruits = [\'apple\', \'banana\', \'cherry\']\nfruits.append("orange")', "fruits = ['apple', 'banana', 'cherry', 'orange']\n\nfruits.clear()", 'fruits = ["apple", "banana", "cherry"]\n\nfruits.clear()\n\nprint(fruits)', 'fruits = ["apple", "banana", "cherry"]\n\nfruits.append("orange")\n\nprint(fruits)', 'fruits = ["apple", "banana", "cherry"]\n\nx = fruits.copy()\n\nprint(x)', 'fruits = ["apple", "banana", "cherry"]\n\nx = fruits.count("cherry")\n\nprint(x)', "fruits = ['apple', 'banana', 'cherry']\n\ncars = ['Ford', 'BMW', 'Volvo']\n\nfruits.extend(cars)\n\nprint(fruits)", 'fruits = [\'apple\', \'banana\', \'cherry\']\n\nx = fruits.index("cherry")\n\nprint(x)', 'fruits = [\'apple\', \'banana\', \'cherry\']\n\nfruits.insert(1, "orange")\n\nprint(fruits)', "fruits = ['apple', 'banana', 'cherry']\n\nfruits.pop(1)\n\nprint(fruits)", 'fruits = [\'apple\', \'banana\', \'cherry\']\n\nfruits.remove("banana")\n\nprint(fruits)', "fruits = ['apple', 'banana', 'cherry']\n\nfruits.reverse()\n\nprint(fruits)", "cars = ['Ford', 'BMW', 'Volvo']\n\ncars.sort()\n\nprint(cars)", 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\ncar.clear()\n\nprint(car)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\nx = car.copy()\n\nprint(x)', "x = ('key1', 'key2', 'key3')\ny = 0\n\nthisdict = dict.fromkeys(x, y)\n\nprint(thisdict)", 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\nx = car.get("model")\n\nprint(x)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\nx = car.items()\n\nprint(x)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\nx = car.keys()\n\nprint(x)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\ncar.pop("model")\n\nprint(car)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\ncar.popitem()\n\nprint(car)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\nx = car.setdefault("model", "Bronco")\n\nprint(x)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\ncar.update({"color": "White"})\n\nprint(car)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\nx = car.values()\n\nprint(x)', 'thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)\n\nx = thistuple.count(5)\n\nprint(x)', 'thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)\n\nx = thistuple.index(8)\n\nprint(x)', 'fruits = {"apple", "banana", "cherry"}\n\nfruits.add("orange")\n\nprint(fruits)', 'fruits = {"apple", "banana", "cherry"}\n\nfruits.clear()\n\nprint(fruits)', 'fruits = {"apple", "banana", "cherry"}\n\nx = fruits.copy()\n\nprint(x)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nz = x.difference(y)\n\nprint(z)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nx.difference_update(y)\n\nprint(x)', 'fruits = {"apple", "banana", "cherry"}\n\nfruits.discard("banana")\n\nprint(fruits)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nz = x.intersection(y)\n\nprint(z)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nx.intersection_update(y)\n\nprint(x)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "facebook"}\n\nz = x.isdisjoint(y)\n\nprint(z)', 'x = {"a", "b", "c"}\ny = {"f", "e", "d", "c", "b", "a"}\n\nz = x.issubset(y)\n\nprint(z)', 'x = {"f", "e", "d", "c", "b", "a"}\ny = {"a", "b", "c"}\n\nz = x.issuperset(y)\n\nprint(z)', 'fruits = {"apple", "banana", "cherry"}\n\nfruits.pop()\n\nprint(fruits)', 'fruits = {"apple", "banana", "cherry"}\n\nfruits.remove("banana")\n\nprint(fruits)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nz = x.symmetric_difference(y)\n\nprint(z)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nx.symmetric_difference_update(y)\n\nprint(x)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nz = x.union(y)\n\nprint(z)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nx.update(y)\n\nprint(x)', 'x = abs(-7.25)\nprint(x)', 'mylist = [True, True, True]\nx = all(mylist)\nprint(x)', 'mylist = [False, True, False]\nx = any(mylist)\nprint(x)', 'x = ascii("My name is St√•le")\nprint(x)', 'x = bin(36)\nprint(x)', 'x = bin(36)\nprint(x)', 'x = bytearray(4)\nprint(x)', 'x = bytes(4)\nprint(x)', 'def x():\n  a = 5\n\nprint(callable(x))', 'x = chr(97)\n\nprint(x)', "x = compile('print(55)', 'test', 'eval')\nexec(x)", 'x = complex(3, 5)\nprint(x)', 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\ndelattr(Person, \'age\')', 'x = dict(name = "John", age = 36, country = "Norway")\n\nprint(x)', 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\nprint(dir(Person))', 'x = divmod(5, 2)\n\nprint(x)', "x = ('apple', 'banana', 'cherry')\ny = enumerate(x)\n\nprint(list(y))", "x = 'print(55)'\neval(x)", 'x = \'name = "John"\\nprint(name)\'\nexec(x)', 'ages = [5, 12, 17, 18, 24, 32]\n\ndef myFunc(x):\n  if x < 18:\n    return False\n  else:\n    return True\n\nadults = filter(myFunc, ages)\n\nfor x in adults:\n  print(x)', 'x = float(3)\n\nprint(x)', "x = format(0.5, '%')\n\nprint(x)", "mylist = ['apple', 'banana', 'cherry']\nx = frozenset(mylist)\nprint(x)", 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\nx = getattr(Person, \'age\')\n\nprint(x)', 'x = globals()\nprint(x)'], 'Out': {}, 'get_ipython': <bound method InteractiveShell.get_ipython of <google.colab._shell.Shell object at 0x7b1f5d936080>>, 'exit': <IPython.core.autocall.ZMQExitAutocall object at 0x7b1f5d936620>, 'quit': <IPython.core.autocall.ZMQExitAutocall object at 0x7b1f5d936620>, '_': '', '__': '', '___': '', '_i': 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\nx = getattr(Person, \'age\')\n\nprint(x)', '_ii': "mylist = ['apple', 'banana', 'cherry']\nx = frozenset(mylist)\nprint(x)", '_iii': "x = format(0.5, '%')\n\nprint(x)", '_i1': 'txt = "hello, and welcome to my world."\n\nx = txt.capitalize()\n\nprint (x)', 'txt': '50', 'x': {...}, '_i2': 'txt = "Hello, And Welcome To My World!"\n\nx = txt.casefold()\n\nprint(x)', '_i3': 'txt = "banana"\n\nx = txt.center(20)\n\nprint(x)', '_i4': 'txt = "I love apples, apple are my favorite fruit"\n\nx = txt.count("apple")\n\nprint(x)', '_i5': 'txt = "My name is St√•le"\n\nx = txt.encode()\n\nprint(x)', '_i6': 'txt = "Hello, welcome to my world."\n\nx = txt.endswith(".")\n\nprint(x)', '_i7': 'txt = "H\\te\\tl\\tl\\to"\n\nx =  txt.expandtabs(2)\n\nprint(x)', '_i8': 'txt = "Hello, welcome to my world."\n\nx = txt.find("welcome")\n\nprint(x)', '_i9': 'txt = "For only {price:.2f} dollars!"\nprint(txt.format(price = 49))', '_i10': 'txt = "Hello, welcome to my world."\n\nx = txt.index("welcome")\n\nprint(x)', '_i11': 'txt = "Company12"\n\nx = txt.isalnum()\n\nprint(x)', '_i12': 'txt = "CompanyX"\n\nx = txt.isalpha()\n\nprint(x)', '_i13': 'txt = "Company123"\n\nx = txt.isascii()\n\nprint(x)', '_i14': 'txt = "1234"\n\nx = txt.isdecimal()\n\nprint(x)', '_i15': 'txt = "50800"\n\nx = txt.isdigit()\n\nprint(x)', '_i16': 'txt = "Demo"\n\nx = txt.isidentifier()\n\nprint(x)', '_i17': 'txt = "hello world!"\n\nx = txt.islower()\n\nprint(x)', '_i18': 'txt = "565543"\n\nx = txt.isnumeric()\n\nprint(x)', '_i19': 'txt = "Hello! Are you #1?"\n\nx = txt.isprintable()\n\nprint(x)', '_i20': 'txt = "   "\n\nx = txt.isspace()\n\nprint(x)', '_i21': 'txt = "Hello, And Welcome To My World!"\n\nx = txt.istitle()\n\nprint(x)', '_i22': 'txt = "THIS IS NOW!"\n\nx = txt.isupper()\n\nprint(x)', '_i23': 'myTuple = ("John", "Peter", "Vicky")\n\nx = "#".join(myTuple)\n\nprint(x)', 'myTuple': ('John', 'Peter', 'Vicky'), '_i24': 'txt = "banana"\n\nx = txt.ljust(20)\n\nprint(x, "is my favorite fruit.")', '_i25': 'txt = "Hello my FRIENDS"\n\nx = txt.lower()\n\nprint(x)', '_i26': 'txt = "     banana     "\n\nx = txt.lstrip()\n\nprint("of all fruits", x, "is my favorite")', '_i27': 'txt = "Hello Sam!"\nmytable = str.maketrans("S", "P")\nprint(txt.translate(mytable))', 'mytable': {83: 80}, '_i28': 'txt = "

In [ ]:
class Person:
  name = "John"
  age = 36
  country = "Norway"

x = hasattr(Person, 'age')

print(x)

True

In [ ]:
x = hex(255)
print(x)

0xff

In [ ]:
x = ('apple', 'banana', 'cherry')
y = id(x)
print(y)

135374555263808

In [ ]:
print('Enter your name:')
x = input()
print('Hello, ' + x)

Enter your name:
JYO
Hello, JYO

In [ ]:
x = int(3.5)

print(x)

3

In [ ]:
x = isinstance(5, int)

print(x)

True

In [ ]:
class myAge:
  age = 36

class myObj(myAge):
  name = "John"
  age = myAge

x = issubclass(myObj, myAge)

print(x)

True

In [ ]:
x = iter(["apple", "banana", "cherry"])
print(next(x))
print(next(x))
print(next(x))

apple
banana
cherry

In [ ]:
mylist = ["apple", "orange", "cherry"]

x = len(mylist)

print(x)

3

In [ ]:
x = list(('apple', 'banana', 'cherry'))

print(x)

['apple', 'banana', 'cherry']

In [ ]:
x = locals()
print(x)

{'__name__': '__main__', '__doc__': 'Automatically created module for IPython interactive environment', '__package__': None, '__loader__': None, '__spec__': None, '__builtin__': <module 'builtins' (built-in)>, '__builtins__': <module 'builtins' (built-in)>, '_ih': ['', 'txt = "hello, and welcome to my world."\n\nx = txt.capitalize()\n\nprint (x)', 'txt = "Hello, And Welcome To My World!"\n\nx = txt.casefold()\n\nprint(x)', 'txt = "banana"\n\nx = txt.center(20)\n\nprint(x)', 'txt = "I love apples, apple are my favorite fruit"\n\nx = txt.count("apple")\n\nprint(x)', 'txt = "My name is St√•le"\n\nx = txt.encode()\n\nprint(x)', 'txt = "Hello, welcome to my world."\n\nx = txt.endswith(".")\n\nprint(x)', 'txt = "H\\te\\tl\\tl\\to"\n\nx =  txt.expandtabs(2)\n\nprint(x)', 'txt = "Hello, welcome to my world."\n\nx = txt.find("welcome")\n\nprint(x)', 'txt = "For only {price:.2f} dollars!"\nprint(txt.format(price = 49))', 'txt = "Hello, welcome to my world."\n\nx = txt.index("welcome")\n\nprint(x)', 'txt = "Company12"\n\nx = txt.isalnum()\n\nprint(x)', 'txt = "CompanyX"\n\nx = txt.isalpha()\n\nprint(x)', 'txt = "Company123"\n\nx = txt.isascii()\n\nprint(x)', 'txt = "1234"\n\nx = txt.isdecimal()\n\nprint(x)', 'txt = "50800"\n\nx = txt.isdigit()\n\nprint(x)', 'txt = "Demo"\n\nx = txt.isidentifier()\n\nprint(x)', 'txt = "hello world!"\n\nx = txt.islower()\n\nprint(x)', 'txt = "565543"\n\nx = txt.isnumeric()\n\nprint(x)', 'txt = "Hello! Are you #1?"\n\nx = txt.isprintable()\n\nprint(x)', 'txt = "   "\n\nx = txt.isspace()\n\nprint(x)', 'txt = "Hello, And Welcome To My World!"\n\nx = txt.istitle()\n\nprint(x)', 'txt = "THIS IS NOW!"\n\nx = txt.isupper()\n\nprint(x)', 'myTuple = ("John", "Peter", "Vicky")\n\nx = "#".join(myTuple)\n\nprint(x)', 'txt = "banana"\n\nx = txt.ljust(20)\n\nprint(x, "is my favorite fruit.")', 'txt = "Hello my FRIENDS"\n\nx = txt.lower()\n\nprint(x)', 'txt = "     banana     "\n\nx = txt.lstrip()\n\nprint("of all fruits", x, "is my favorite")', 'txt = "Hello Sam!"\nmytable = str.maketrans("S", "P")\nprint(txt.translate(mytable))', 'txt = "I could eat bananas all day"\n\nx = txt.partition("bananas")\n\nprint(x)', 'txt = "I like bananas"\n\nx = txt.replace("bananas", "apples")\n\nprint(x)', 'txt = "Mi casa, su casa."\n\nx = txt.rfind("casa")\n\nprint(x)', 'txt = "Mi casa, su casa."\n\nx = txt.rindex("casa")\n\nprint(x)', 'txt = "banana"\n\nx = txt.rjust(20)\n\nprint(x, "is my favorite fruit.")', 'txt = "I could eat bananas all day, bananas are my favorite fruit"\n\nx = txt.rpartition("bananas")\n\nprint(x)', 'txt = "apple, banana, cherry"\n\nx = txt.rsplit(", ")\n\nprint(x)', 'txt = "welcome to the jungle"\n\nx = txt.split()\n\nprint(x)', 'txt = "Thank you for the music\\nWelcome to the jungle"\n\nx = txt.splitlines()\n\nprint(x)', 'txt = "Hello, welcome to my world."\n\nx = txt.startswith("Hello")\n\nprint(x)', 'txt = "     banana     "\n\nx = txt.strip()\n\nprint("of all fruits", x, "is my favorite")', 'txt = "Hello My Name Is PETER"\n\nx = txt.swapcase()\n\nprint(x)', 'txt = "Welcome to my world"\n\nx = txt.title()\n\nprint(x)', '#use a dictionary with ascii codes to replace 83 (S) with 80 (P):\nmydict = {83:  80}\ntxt = "Hello Sam!"\nprint(txt.translate(mydict))', 'txt = "Hello my friends"\n\nx = txt.upper()\n\nprint(x)', 'txt = "50"\n\nx = txt.zfill(10)\n\nprint(x)', 'fruits = [\'apple\', \'banana\', \'cherry\']\nfruits.append("orange")', "fruits = ['apple', 'banana', 'cherry', 'orange']\n\nfruits.clear()", 'fruits = ["apple", "banana", "cherry"]\n\nfruits.clear()\n\nprint(fruits)', 'fruits = ["apple", "banana", "cherry"]\n\nfruits.append("orange")\n\nprint(fruits)', 'fruits = ["apple", "banana", "cherry"]\n\nx = fruits.copy()\n\nprint(x)', 'fruits = ["apple", "banana", "cherry"]\n\nx = fruits.count("cherry")\n\nprint(x)', "fruits = ['apple', 'banana', 'cherry']\n\ncars = ['Ford', 'BMW', 'Volvo']\n\nfruits.extend(cars)\n\nprint(fruits)", 'fruits = [\'apple\', \'banana\', \'cherry\']\n\nx = fruits.index("cherry")\n\nprint(x)', 'fruits = [\'apple\', \'banana\', \'cherry\']\n\nfruits.insert(1, "orange")\n\nprint(fruits)', "fruits = ['apple', 'banana', 'cherry']\n\nfruits.pop(1)\n\nprint(fruits)", 'fruits = [\'apple\', \'banana\', \'cherry\']\n\nfruits.remove("banana")\n\nprint(fruits)', "fruits = ['apple', 'banana', 'cherry']\n\nfruits.reverse()\n\nprint(fruits)", "cars = ['Ford', 'BMW', 'Volvo']\n\ncars.sort()\n\nprint(cars)", 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\ncar.clear()\n\nprint(car)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\nx = car.copy()\n\nprint(x)', "x = ('key1', 'key2', 'key3')\ny = 0\n\nthisdict = dict.fromkeys(x, y)\n\nprint(thisdict)", 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\nx = car.get("model")\n\nprint(x)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\nx = car.items()\n\nprint(x)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\nx = car.keys()\n\nprint(x)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\ncar.pop("model")\n\nprint(car)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\ncar.popitem()\n\nprint(car)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\nx = car.setdefault("model", "Bronco")\n\nprint(x)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\ncar.update({"color": "White"})\n\nprint(car)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\nx = car.values()\n\nprint(x)', 'thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)\n\nx = thistuple.count(5)\n\nprint(x)', 'thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)\n\nx = thistuple.index(8)\n\nprint(x)', 'fruits = {"apple", "banana", "cherry"}\n\nfruits.add("orange")\n\nprint(fruits)', 'fruits = {"apple", "banana", "cherry"}\n\nfruits.clear()\n\nprint(fruits)', 'fruits = {"apple", "banana", "cherry"}\n\nx = fruits.copy()\n\nprint(x)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nz = x.difference(y)\n\nprint(z)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nx.difference_update(y)\n\nprint(x)', 'fruits = {"apple", "banana", "cherry"}\n\nfruits.discard("banana")\n\nprint(fruits)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nz = x.intersection(y)\n\nprint(z)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nx.intersection_update(y)\n\nprint(x)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "facebook"}\n\nz = x.isdisjoint(y)\n\nprint(z)', 'x = {"a", "b", "c"}\ny = {"f", "e", "d", "c", "b", "a"}\n\nz = x.issubset(y)\n\nprint(z)', 'x = {"f", "e", "d", "c", "b", "a"}\ny = {"a", "b", "c"}\n\nz = x.issuperset(y)\n\nprint(z)', 'fruits = {"apple", "banana", "cherry"}\n\nfruits.pop()\n\nprint(fruits)', 'fruits = {"apple", "banana", "cherry"}\n\nfruits.remove("banana")\n\nprint(fruits)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nz = x.symmetric_difference(y)\n\nprint(z)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nx.symmetric_difference_update(y)\n\nprint(x)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nz = x.union(y)\n\nprint(z)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nx.update(y)\n\nprint(x)', 'x = abs(-7.25)\nprint(x)', 'mylist = [True, True, True]\nx = all(mylist)\nprint(x)', 'mylist = [False, True, False]\nx = any(mylist)\nprint(x)', 'x = ascii("My name is St√•le")\nprint(x)', 'x = bin(36)\nprint(x)', 'x = bin(36)\nprint(x)', 'x = bytearray(4)\nprint(x)', 'x = bytes(4)\nprint(x)', 'def x():\n  a = 5\n\nprint(callable(x))', 'x = chr(97)\n\nprint(x)', "x = compile('print(55)', 'test', 'eval')\nexec(x)", 'x = complex(3, 5)\nprint(x)', 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\ndelattr(Person, \'age\')', 'x = dict(name = "John", age = 36, country = "Norway")\n\nprint(x)', 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\nprint(dir(Person))', 'x = divmod(5, 2)\n\nprint(x)', "x = ('apple', 'banana', 'cherry')\ny = enumerate(x)\n\nprint(list(y))", "x = 'print(55)'\neval(x)", 'x = \'name = "John"\\nprint(name)\'\nexec(x)', 'ages = [5, 12, 17, 18, 24, 32]\n\ndef myFunc(x):\n  if x < 18:\n    return False\n  else:\n    return True\n\nadults = filter(myFunc, ages)\n\nfor x in adults:\n  print(x)', 'x = float(3)\n\nprint(x)', "x = format(0.5, '%')\n\nprint(x)", "mylist = ['apple', 'banana', 'cherry']\nx = frozenset(mylist)\nprint(x)", 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\nx = getattr(Person, \'age\')\n\nprint(x)', 'x = globals()\nprint(x)', 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\nx = hasattr(Person, \'age\')\n\nprint(x)', 'x = hex(255)\nprint(x)', "x = ('apple', 'banana', 'cherry')\ny = id(x)\nprint(y)", "print('Enter your name:')\nx = input()\nprint('Hello, ' + x)", 'x = int(3.5)\n\nprint(x)', 'x = isinstance(5, int)\n\nprint(x)', 'class myAge:\n  age = 36\n\nclass myObj(myAge):\n  name = "John"\n  age = myAge\n\nx = issubclass(myObj, myAge)\n\nprint(x)', 'x = iter(["apple", "banana", "cherry"])\nprint(next(x))\nprint(next(x))\nprint(next(x))', 'mylist = ["apple", "orange", "cherry"]\n\nx = len(mylist)\n\nprint(x)', "x = list(('apple', 'banana', 'cherry'))\n\nprint(x)", 'x = locals()\nprint(x)'], '_oh': {}, '_dh': ['/content'], 'In': ['', 'txt = "hello, and welcome to my world."\n\nx = txt.capitalize()\n\nprint (x)', 'txt = "Hello, And Welcome To My World!"\n\nx = txt.casefold()\n\nprint(x)', 'txt = "banana"\n\nx = txt.center(20)\n\nprint(x)', 'txt = "I love apples, apple are my favorite fruit"\n\nx = txt.count("apple")\n\nprint(x)', 'txt = "My name is St√•le"\n\nx = txt.encode()\n\nprint(x)', 'txt = "Hello, welcome to my world."\n\nx = txt.endswith(".")\n\nprint(x)', 'txt = "H\\te\\tl\\tl\\to"\n\nx =  txt.expandtabs(2)\n\nprint(x)', 'txt = "Hello, welcome to my world."\n\nx = txt.find("welcome")\n\nprint(x)', 'txt = "For only {price:.2f} dollars!"\nprint(txt.format(price = 49))', 'txt = "Hello, welcome to my world."\n\nx = txt.index("welcome")\n\nprint(x)', 'txt = "Company12"\n\nx = txt.isalnum()\n\nprint(x)', 'txt = "CompanyX"\n\nx = txt.isalpha()\n\nprint(x)', 'txt = "Company123"\n\nx = txt.isascii()\n\nprint(x)', 'txt = "1234"\n\nx = txt.isdecimal()\n\nprint(x)', 'txt = "50800"\n\nx = txt.isdigit()\n\nprint(x)', 'txt = "Demo"\n\nx = txt.isidentifier()\n\nprint(x)', 'txt = "hello world!"\n\nx = txt.islower()\n\nprint(x)', 'txt = "565543"\n\nx = txt.isnumeric()\n\nprint(x)', 'txt = "Hello! Are you #1?"\n\nx = txt.isprintable()\n\nprint(x)', 'txt = "   "\n\nx = txt.isspace()\n\nprint(x)', 'txt = "Hello, And Welcome To My World!"\n\nx = txt.istitle()\n\nprint(x)', 'txt = "THIS IS NOW!"\n\nx = txt.isupper()\n\nprint(x)', 'myTuple = ("John", "Peter", "Vicky")\n\nx = "#".join(myTuple)\n\nprint(x)', 'txt = "banana"\n\nx = txt.ljust(20)\n\nprint(x, "is my favorite fruit.")', 'txt = "Hello my FRIENDS"\n\nx = txt.lower()\n\nprint(x)', 'txt = "     banana     "\n\nx = txt.lstrip()\n\nprint("of all fruits", x, "is my favorite")', 'txt = "Hello Sam!"\nmytable = str.maketrans("S", "P")\nprint(txt.translate(mytable))', 'txt = "I could eat bananas all day"\n\nx = txt.partition("bananas")\n\nprint(x)', 'txt = "I like bananas"\n\nx = txt.replace("bananas", "apples")\n\nprint(x)', 'txt = "Mi casa, su casa."\n\nx = txt.rfind("casa")\n\nprint(x)', 'txt = "Mi casa, su casa."\n\nx = txt.rindex("casa")\n\nprint(x)', 'txt = "banana"\n\nx = txt.rjust(20)\n\nprint(x, "is my favorite fruit.")', 'txt = "I could eat bananas all day, bananas are my favorite fruit"\n\nx = txt.rpartition("bananas")\n\nprint(x)', 'txt = "apple, banana, cherry"\n\nx = txt.rsplit(", ")\n\nprint(x)', 'txt = "welcome to the jungle"\n\nx = txt.split()\n\nprint(x)', 'txt = "Thank you for the music\\nWelcome to the jungle"\n\nx = txt.splitlines()\n\nprint(x)', 'txt = "Hello, welcome to my world."\n\nx = txt.startswith("Hello")\n\nprint(x)', 'txt = "     banana     "\n\nx = txt.strip()\n\nprint("of all fruits", x, "is my favorite")', 'txt = "Hello My Name Is PETER"\n\nx = txt.swapcase()\n\nprint(x)', 'txt = "Welcome to my world"\n\nx = txt.title()\n\nprint(x)', '#use a dictionary with ascii codes to replace 83 (S) with 80 (P):\nmydict = {83:  80}\ntxt = "Hello Sam!"\nprint(txt.translate(mydict))', 'txt = "Hello my friends"\n\nx = txt.upper()\n\nprint(x)', 'txt = "50"\n\nx = txt.zfill(10)\n\nprint(x)', 'fruits = [\'apple\', \'banana\', \'cherry\']\nfruits.append("orange")', "fruits = ['apple', 'banana', 'cherry', 'orange']\n\nfruits.clear()", 'fruits = ["apple", "banana", "cherry"]\n\nfruits.clear()\n\nprint(fruits)', 'fruits = ["apple", "banana", "cherry"]\n\nfruits.append("orange")\n\nprint(fruits)', 'fruits = ["apple", "banana", "cherry"]\n\nx = fruits.copy()\n\nprint(x)', 'fruits = ["apple", "banana", "cherry"]\n\nx = fruits.count("cherry")\n\nprint(x)', "fruits = ['apple', 'banana', 'cherry']\n\ncars = ['Ford', 'BMW', 'Volvo']\n\nfruits.extend(cars)\n\nprint(fruits)", 'fruits = [\'apple\', \'banana\', \'cherry\']\n\nx = fruits.index("cherry")\n\nprint(x)', 'fruits = [\'apple\', \'banana\', \'cherry\']\n\nfruits.insert(1, "orange")\n\nprint(fruits)', "fruits = ['apple', 'banana', 'cherry']\n\nfruits.pop(1)\n\nprint(fruits)", 'fruits = [\'apple\', \'banana\', \'cherry\']\n\nfruits.remove("banana")\n\nprint(fruits)', "fruits = ['apple', 'banana', 'cherry']\n\nfruits.reverse()\n\nprint(fruits)", "cars = ['Ford', 'BMW', 'Volvo']\n\ncars.sort()\n\nprint(cars)", 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\ncar.clear()\n\nprint(car)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\nx = car.copy()\n\nprint(x)', "x = ('key1', 'key2', 'key3')\ny = 0\n\nthisdict = dict.fromkeys(x, y)\n\nprint(thisdict)", 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\nx = car.get("model")\n\nprint(x)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\nx = car.items()\n\nprint(x)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\nx = car.keys()\n\nprint(x)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\ncar.pop("model")\n\nprint(car)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\ncar.popitem()\n\nprint(car)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\nx = car.setdefault("model", "Bronco")\n\nprint(x)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\ncar.update({"color": "White"})\n\nprint(car)', 'car = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\n\nx = car.values()\n\nprint(x)', 'thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)\n\nx = thistuple.count(5)\n\nprint(x)', 'thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)\n\nx = thistuple.index(8)\n\nprint(x)', 'fruits = {"apple", "banana", "cherry"}\n\nfruits.add("orange")\n\nprint(fruits)', 'fruits = {"apple", "banana", "cherry"}\n\nfruits.clear()\n\nprint(fruits)', 'fruits = {"apple", "banana", "cherry"}\n\nx = fruits.copy()\n\nprint(x)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nz = x.difference(y)\n\nprint(z)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nx.difference_update(y)\n\nprint(x)', 'fruits = {"apple", "banana", "cherry"}\n\nfruits.discard("banana")\n\nprint(fruits)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nz = x.intersection(y)\n\nprint(z)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nx.intersection_update(y)\n\nprint(x)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "facebook"}\n\nz = x.isdisjoint(y)\n\nprint(z)', 'x = {"a", "b", "c"}\ny = {"f", "e", "d", "c", "b", "a"}\n\nz = x.issubset(y)\n\nprint(z)', 'x = {"f", "e", "d", "c", "b", "a"}\ny = {"a", "b", "c"}\n\nz = x.issuperset(y)\n\nprint(z)', 'fruits = {"apple", "banana", "cherry"}\n\nfruits.pop()\n\nprint(fruits)', 'fruits = {"apple", "banana", "cherry"}\n\nfruits.remove("banana")\n\nprint(fruits)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nz = x.symmetric_difference(y)\n\nprint(z)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nx.symmetric_difference_update(y)\n\nprint(x)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nz = x.union(y)\n\nprint(z)', 'x = {"apple", "banana", "cherry"}\ny = {"google", "microsoft", "apple"}\n\nx.update(y)\n\nprint(x)', 'x = abs(-7.25)\nprint(x)', 'mylist = [True, True, True]\nx = all(mylist)\nprint(x)', 'mylist = [False, True, False]\nx = any(mylist)\nprint(x)', 'x = ascii("My name is St√•le")\nprint(x)', 'x = bin(36)\nprint(x)', 'x = bin(36)\nprint(x)', 'x = bytearray(4)\nprint(x)', 'x = bytes(4)\nprint(x)', 'def x():\n  a = 5\n\nprint(callable(x))', 'x = chr(97)\n\nprint(x)', "x = compile('print(55)', 'test', 'eval')\nexec(x)", 'x = complex(3, 5)\nprint(x)', 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\ndelattr(Person, \'age\')', 'x = dict(name = "John", age = 36, country = "Norway")\n\nprint(x)', 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\nprint(dir(Person))', 'x = divmod(5, 2)\n\nprint(x)', "x = ('apple', 'banana', 'cherry')\ny = enumerate(x)\n\nprint(list(y))", "x = 'print(55)'\neval(x)", 'x = \'name = "John"\\nprint(name)\'\nexec(x)', 'ages = [5, 12, 17, 18, 24, 32]\n\ndef myFunc(x):\n  if x < 18:\n    return False\n  else:\n    return True\n\nadults = filter(myFunc, ages)\n\nfor x in adults:\n  print(x)', 'x = float(3)\n\nprint(x)', "x = format(0.5, '%')\n\nprint(x)", "mylist = ['apple', 'banana', 'cherry']\nx = frozenset(mylist)\nprint(x)", 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\nx = getattr(Person, \'age\')\n\nprint(x)', 'x = globals()\nprint(x)', 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\nx = hasattr(Person, \'age\')\n\nprint(x)', 'x = hex(255)\nprint(x)', "x = ('apple', 'banana', 'cherry')\ny = id(x)\nprint(y)", "print('Enter your name:')\nx = input()\nprint('Hello, ' + x)", 'x = int(3.5)\n\nprint(x)', 'x = isinstance(5, int)\n\nprint(x)', 'class myAge:\n  age = 36\n\nclass myObj(myAge):\n  name = "John"\n  age = myAge\n\nx = issubclass(myObj, myAge)\n\nprint(x)', 'x = iter(["apple", "banana", "cherry"])\nprint(next(x))\nprint(next(x))\nprint(next(x))', 'mylist = ["apple", "orange", "cherry"]\n\nx = len(mylist)\n\nprint(x)', "x = list(('apple', 'banana', 'cherry'))\n\nprint(x)", 'x = locals()\nprint(x)'], 'Out': {}, 'get_ipython': <bound method InteractiveShell.get_ipython of <google.colab._shell.Shell object at 0x7b1f5d936080>>, 'exit': <IPython.core.autocall.ZMQExitAutocall object at 0x7b1f5d936620>, 'quit': <IPython.core.autocall.ZMQExitAutocall object at 0x7b1f5d936620>, '_': '', '__': '', '___': '', '_i': "x = list(('apple', 'banana', 'cherry'))\n\nprint(x)", '_ii': 'mylist = ["apple", "orange", "cherry"]\n\nx = len(mylist)\n\nprint(x)', '_iii': 'x = iter(["apple", "banana", "cherry"])\nprint(next(x))\nprint(next(x))\nprint(next(x))', '_i1': 'txt = "hello, and welcome to my world."\n\nx = txt.capitalize()\n\nprint (x)', 'txt': '50', 'x': {...}, '_i2': 'txt = "Hello, And Welcome To My World!"\n\nx = txt.casefold()\n\nprint(x)', '_i3': 'txt = "banana"\n\nx = txt.center(20)\n\nprint(x)', '_i4': 'txt = "I love apples, apple are my favorite fruit"\n\nx = txt.count("apple")\n\nprint(x)', '_i5': 'txt = "My name is St√•le"\n\nx = txt.encode()\n\nprint(x)', '_i6': 'txt = "Hello, welcome to my world."\n\nx = txt.endswith(".")\n\nprint(x)', '_i7': 'txt = "H\\te\\tl\\tl\\to"\n\nx =  txt.expandtabs(2)\n\nprint(x)', '_i8': 'txt = "Hello, welcome to my world."\n\nx = txt.find("welcome")\n\nprint(x)', '_i9': 'txt = "For only {price:.2f} dollars!"\nprint(txt

In [ ]:
def myfunc(a):
  return len(a)

x = map(myfunc, ('apple', 'banana', 'cherry'))

print(x)

#convert the map into a list, for readability:
print(list(x))

<map object at 0x7b1f5841f190>
[5, 6, 6]

In [ ]:
x = max(5, 10)

print(x)

10

In [ ]:
x = memoryview(b"Hello")

print(x)

#return the Unicode of the first character
print(x[0])

#return the Unicode of the second character
print(x[1])

<memory at 0x7b1f58480880>
72
101

In [ ]:
x = min(5, 10)

print(x)

5

In [ ]:
mylist = iter(["apple", "banana", "cherry"])
x = next(mylist)
print(x)
x = next(mylist)
print(x)
x = next(mylist)
print(x)

apple
banana
cherry

In [ ]:
x = object()

print(dir(x))

['__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']

In [ ]:
x = oct(12)

print(x)

0o14

In [ ]:
x = ord("h")

print(x)

104

In [ ]:
x = pow(4, 3)

print(x)

64

In [ ]:
print("Hello World")

Hello World

In [ ]:
x = range(6)
for n in x:
  print(n)

0
1
2
3
4
5

In [ ]:
alph = ["a", "b", "c", "d"]
ralph = reversed(alph)
for x in ralph:
  print(x)

d
c
b
a

In [ ]:
x = round(5.76543, 2)
print(x)

5.77

In [ ]:
x = set(("apple", "banana", "cherry"))

print(x)

{'banana', 'apple', 'cherry'}

In [ ]:
class Person:
  name = "John"
  age = 36
  country = "Norway"

setattr(Person, 'age', 40)

# The age property will now have the value: 40

x = getattr(Person, 'age')

print(x)

40

In [ ]:
a = ("a", "b", "c", "d", "e", "f", "g", "h")
x = slice(2)
print(a[x])

('a', 'b')

In [ ]:
a = ("b", "g", "a", "d", "f", "c", "h", "e")
x = sorted(a)
print(x)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [ ]:
x = str(3.5)
print(x)

3.5

In [ ]:
a = (1, 2, 3, 4, 5)
x = sum(a)
print(x)

15

In [ ]:
class Parent:
  def __init__(self, txt):
    self.message = txt

  def printmessage(self):
    print(self.message)

class Child(Parent):
  def __init__(self, txt):
    super().__init__(txt)

x = Child("Hello, and welcome!")

x.printmessage()

Hello, and welcome!

In [ ]:
x = tuple(("apple", "banana", "cherry"))

print(x)

('apple', 'banana', 'cherry')

In [ ]:
a = ('apple', 'banana', 'cherry')
b = "Hello World"
c = 33

x = type(a)
y = type(b)
z = type(c)

print(x)
print(y)
print(z)

<class 'tuple'>
<class 'str'>
<class 'int'>

In [ ]:
class Person:
  name = "John"
  age = 36
  country = "norway"

x = vars(Person)

print(x)

{'__module__': '__main__', 'name': 'John', 'age': 36, 'country': 'norway', '__dict__': <attribute '__dict__' of 'Person' objects>, '__weakref__': <attribute '__weakref__' of 'Person' objects>, '__doc__': None}

In [ ]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")

x = zip(a, b)

#use the tuple() function to display a readable version of the result:

print(tuple(x))

(('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica'))

MATH MODULE

In [1]:
# Import math Library
import math

# Return the arc cosine of numbers
print(math.acos(0.55))
print(math.acos(-0.55))
print(math.acos(0))
print(math.acos(1))
print(math.acos(-1))

0.9884320889261531
2.15316056466364
1.5707963267948966
0.0
3.141592653589793

In [2]:
# Import math Library
import math

# Return the inverse hyperbolic cosine of different numbers
print (math.acosh(7))
print (math.acosh(56))
print (math.acosh(2.45))
print (math.acosh(1))

2.6339157938496336
4.718419142372879
1.5447131178707394
0.0

In [3]:
# Import math Library
import math

# Return the arc sine of numbers
print(math.asin(0.55))
print(math.asin(-0.55))
print(math.asin(0))
print(math.asin(1))
print(math.asin(-1))

0.5823642378687435
-0.5823642378687435
0.0
1.5707963267948966
-1.5707963267948966

In [4]:
# Import math Library
import math

# Return the inverse hyperbolic sine of numbers
print(math.asinh(7))
print(math.asinh(56))
print(math.asinh(2.45))
print(math.asinh(1))

2.644120761058629
4.718578581151767
1.6284998192841909
0.881373587019543

In [5]:
#Import math Library
import math

#fReturn the arc tangent of different numbers
print (math.atan(0.39))
print (math.atan(67))
print (math.atan(-21))

0.37185607384858127
1.5558720618048116
-1.5232132235179132

In [6]:
# Import math Library
import math

# Return the arc tangent of y/x in radians
print(math.atan2(8, 5))
print(math.atan2(20, 10))
print(math.atan2(34, -7))

1.0121970114513341
1.1071487177940904
1.7738415440483617

In [7]:
#Import math Library
import math

#print the hyperbolic arctangent of different numbers
print(math.atanh(0.59))
print(math.atanh(-0.12))

0.6776660677579618
-0.12058102840844404

In [8]:
# Import math library
import math

# Round a number upward to its nearest integer
print(math.ceil(1.4))
print(math.ceil(5.3))
print(math.ceil(-5.3))
print(math.ceil(22.6))
print(math.ceil(10.0))

2
6
-5
23
10

In [9]:
# Import math Library
import math

# Initialize the number of items to choose from
n = 7

# Initialize the number of possibilities to choose
k = 5

# Print total number of possible combinations
print (math.comb(n, k))

21

In [10]:
#Import math Library
import math

#Return the value of the first parameter and the sign of the second parameter
print(math.copysign(4, -1))
print(math.copysign(-8, 97.21))
print(math.copysign(-43, -76))

-4.0
8.0
-43.0

In [11]:
# Import math Library
import math

# Return the cosine of different numbers
print (math.cos(0.00))
print (math.cos(-1.23))
print (math.cos(10))
print (math.cos(3.14159265359))

1.0
0.3342377271245026
-0.8390715290764524
-1.0

In [12]:
# Import math Library
import math

# Return the hyperbolic cosine of different numbers
print (math.cosh(1))
print (math.cosh(8.90))
print (math.cosh(0))
print (math.cosh(1.52))

1.5430806348152437
3665.986837772461
1.0
2.3954685410471868

In [13]:
# Import math Library
import math

# Convert from radians to degrees:
print (math.degrees(8.90))
print (math.degrees(-20))
print (math.degrees(1))
print (math.degrees(90))

509.9324376664327
-1145.9155902616465
57.29577951308232
5156.620156177409

In [14]:
# Import math Library
import math

p = [3]
q = [1]

# Calculate Euclidean distance
print (math.dist(p, q))

p = [3, 3]
q = [6, 12]

# Calculate Euclidean distance
print (math.dist(p, q))

2.0
9.486832980505138

In [15]:
# Import math Library
import math

# Print error function for different numbers
print (math.erf(0.67))
print (math.erf(1.34))
print (math.erf(-6))

0.6566277023003051
0.9419137152583653
-1.0

In [16]:
# Import math Library
import math

# Print complementary error function for different numbers
print (math.erfc(0.67))
print (math.erfc(1.34))
print (math.erfc(-6))

0.3433722976996949
0.058086284741634665
2.0

In [17]:
#Import math Library
import math

#find the exponential of the specified value
print(math.exp(65))
print(math.exp(-6.89))

1.6948892444103338e+28
0.0010179138409954387

In [18]:
#Import math Library
import math

#Return the exponential value of a number - 1
print(math.expm1(32))
print(math.expm1(-10.89))

78962960182679.69
-0.9999813562576685

In [19]:
#Import math Library
import math

#Print absolute values from numbers
print(math.fabs(-66.43))
print(math.fabs(-7))

66.43
7.0

In [20]:
#Import math Library
import math

#Return factorial of a number
print(math.factorial(9))
print(math.factorial(6))
print(math.factorial(12))

362880
720
479001600

In [21]:
# Import math library
import math

# Round numbers down to the nearest integer
print(math.floor(0.6))
print(math.floor(1.4))
print(math.floor(5.3))
print(math.floor(-5.3))
print(math.floor(22.6))
print(math.floor(10.0))

0
1
5
-6
22
10

In [24]:
#Import math Library
import math

#Return mantissa and exponent of numbers
print(math.frexp(4))
print(math.frexp(-4))
print(math.frexp(7))

(0.5, 3)
(-0.5, 3)
(0.875, 3)

In [25]:
# Import math Library
import math

# Print the sum of all items
print(math.fsum([1, 2, 3, 4, 5]))
print(math.fsum([100, 400, 340, 500]))
print(math.fsum([1.7, 0.3, 1.5, 4.5]))

15.0
1340.0
8.0

In [26]:
# Import math Library
import math

# Return the gamma function for different numbers
print(math.gamma(-0.1))
print(math.gamma(8))
print(math.gamma(1.2))
print(math.gamma(80))
print(math.gamma(-0.55))

-10.686287021193193
5040.0
0.9181687423997604
8.946182130782976e+116
-3.578429819277059

In [27]:
#Import math Library
import math

#find the  the greatest common divisor of the two integers
print (math.gcd(3, 6))
print (math.gcd(6, 12))
print (math.gcd(12, 36))
print (math.gcd(-12, -36))
print (math.gcd(5, 12))
print (math.gcd(10, 0))
print (math.gcd(0, 34))
print (math.gcd(0, 0))

3
6
12
12
1
10
34
0

In [28]:
#Import math Library
import math

#set perpendicular and base
parendicular = 10
base = 5

#print the hypotenuse of a right-angled triangle
print(math.hypot(parendicular, base))

11.180339887498949

In [29]:
#Import math Library
import math

#compare the closeness of two values
print(math.isclose(1.233, 1.4566))
print(math.isclose(1.233, 1.233))
print(math.isclose(1.233, 1.24))
print(math.isclose(1.233, 1.233000001))

False
True
False
True

In [30]:
# Import math Library
import math

# Check whether the values are finite or not
print(math.isfinite(2000))
print(math.isfinite(-45.34))
print(math.isfinite(+45.34))
print(math.isfinite(math.inf))
print(math.isfinite(float("nan")))
print(math.isfinite(float("inf")))
print(math.isfinite(float("-inf")))
print(math.isfinite(-math.inf))
print(math.isfinite(0.0))

True
True
True
False
False
False
False
False
True

In [31]:
# Import math Library
import math

# Check whether the values are infinite or not
print(math.isinf(56))
print(math.isinf(-45.34))
print(math.isinf(+45.34))
print(math.isinf(math.inf))
print(math.isinf(float("nan")))
print(math.isinf(float("inf")))
print(math.isinf(float("-inf")))
print(math.isinf(-math.inf))

False
False
False
True
False
True
True
True

In [32]:
# Import math Library
import math

# Check whether some values are NaN or not
print (math.isnan (56))
print (math.isnan (-45.34))
print (math.isnan (+45.34))
print (math.isnan (math.inf))
print (math.isnan (float("nan")))
print (math.isnan (float("inf")))
print (math.isnan (float("-inf")))
print (math.isnan (math.nan))

False
False
False
False
True
False
False
True

In [33]:
# Import math Library
import math

# Print the square root of different numbers
print (math.sqrt(10))
print (math.sqrt (12))
print (math.sqrt (68))
print (math.sqrt (100))

# Round square root downward to the nearest integer
print (math.isqrt(10))
print (math.isqrt (12))
print (math.isqrt (68))
print (math.isqrt (100))

3.1622776601683795
3.4641016151377544
8.246211251235321
10.0
3
3
8
10

In [34]:
#Import math Library
import math

#Return value of x * (2**i)
print(math.ldexp(9, 3))
print(math.ldexp(-5, 2))
print(math.ldexp(15, 2))

72.0
-20.0
60.0

In [35]:
# Import math Library
import math

# Return the log gamma value of different numbers
print (math.lgamma(7))
print (math.lgamma(-4.2))

6.579251212010102
-1.8075166614192908

In [36]:
# Import math Library
import math

# Return the natural logarithm of different numbers
print(math.log(2.7183))
print(math.log(2))
print(math.log(1))

1.0000066849139877
0.6931471805599453
0.0

In [37]:
# Import math Library
import math

# Return the base-10 logarithm of different numbers
print(math.log10(2.7183))
print(math.log10(2))
print(math.log10(1))

0.43429738512450866
0.3010299956639812
0.0

In [38]:
# Import math Library
import math

# Return the log(1+number) for different numbers
print(math.log1p(2.7183))
print(math.log1p(2))
print(math.log1p(1))

1.3132665745863341
1.0986122886681096
0.6931471805599453

In [39]:
# Import math Library
import math

# Return the base-2 logarithm of different numbers
print(math.log2(2.7183))
print(math.log2(2))
print(math.log2(1))

1.4427046851812222
1.0
0.0

In [40]:
# Import math Library
import math

# Initialize the number of items to choose from
n = 7

# Initialize the number of items to choose
k = 5

# Print the number of ways to choose k items from n items
print (math.perm(n, k))

2520

In [41]:
# Import math Library
import math

#Return the value of 9 raised to the power of 3
print(math.pow(9, 3))

729.0

In [42]:
# Import math Library
import math

sequence = (2, 2, 2)

#Return the product of the elements
print(math.prod(sequence))

8

In [43]:
# Import math Library
import math

# Convert different degrees into radians
print(math.radians(180))
print(math.radians(100.03))
print(math.radians(-20))

3.141592653589793
1.7458528507699278
-0.3490658503988659

In [44]:
# Import math Library
import math

# Return the remainder of x/y
print (math.remainder(9, 2))
print (math.remainder(9, 3))
print (math.remainder(18, 4))

1.0
0.0
2.0

In [45]:
# Import math Library
import math

# Return the sine of different values
print (math.sin(0.00))
print (math.sin(-1.23))
print (math.sin(10))
print (math.sin(math.pi))
print (math.sin(math.pi/2))

0.0
-0.9424888019316975
-0.5440211108893698
1.2246467991473532e-16
1.0

In [46]:
# Import math Library
import math

# Return the hyperbolic sine of different values
print(math.sinh(0.00))
print(math.sinh(-23.45))
print(math.sinh(23))
print(math.sinh(1.00))
print(math.sinh(math.pi))

0.0
-7641446994.979367
4872401723.124452
1.1752011936438014
11.548739357257748

In [47]:
# Import math Library
import math

# Return the square root of different numbers
print (math.sqrt(9))
print (math.sqrt(25))
print (math.sqrt(16))

3.0
5.0
4.0

In [48]:
# Import math Library
import math

# Return the tangent of different numbers
print (math.tan(90))
print (math.tan(-90))
print (math.tan(45))
print (math.tan(60))

-1.995200412208242
1.995200412208242
1.6197751905438615
0.320040389379563

In [49]:
# Import math Library
import math

# Return the hyperbolic tangent of different numbers
print(math.tanh(8))
print(math.tanh(1))
print(math.tanh(-6.2))

0.9999997749296758
0.7615941559557649
-0.9999917628565104

In [50]:
# Import math Library
import math

# Return the truncated integer parts of different numbers
print(math.trunc(2.77))
print(math.trunc(8.32))
print(math.trunc(-99.29))

2
8
-99

MATH CONSTANTS

In [51]:
# Import math Library
import math

# Print the value of E
print (math.e)

2.718281828459045

In [52]:
# Import math Library
import math

# Print the positive infinity
print (math.inf)

# Print the negative infinity
print (-math.inf)

inf
-inf

In [53]:
# Import math Library
import math

# Print the value of nan
print (math.nan)

nan

In [54]:
# Import math Library
import math

# Print the value of pi
print (math.pi)

3.141592653589793

In [55]:
# Import math Library
import math

# Print the value of tau
print (math.tau)

6.283185307179586

STATISTICS MODULE

In [56]:
# Import statistics Library
import statistics

# Calculate harmonic mean
print(statistics.harmonic_mean([40, 60, 80]))
print(statistics.harmonic_mean([10, 30, 50, 70, 90]))

55.38461538461538
27.97513321492007

In [57]:
# Import statistics Library
import statistics

# Calculate average values
print(statistics.mean([1, 3, 5, 7, 9, 11, 13]))
print(statistics.mean([1, 3, 5, 7, 9, 11]))
print(statistics.mean([-11, 5.5, -3.4, 7.1, -9, 22]))

7
6
1.8666666666666667

In [58]:
# Import statistics Library
import statistics

# Calculate middle values
print(statistics.median([1, 3, 5, 7, 9, 11, 13]))
print(statistics.median([1, 3, 5, 7, 9, 11]))
print(statistics.median([-11, 5.5, -3.4, 7.1, -9, 22]))

7
6.0
1.05

In [59]:
# Import statistics Library
import statistics

# Calculate the median of grouped continuous data
print(statistics.median_grouped([1, 2, 3, 4]))
print(statistics.median_grouped([1, 2, 3, 4, 5]))
print(statistics.median_grouped([1, 2, 3, 4], 2))
print(statistics.median_grouped([1, 2, 3, 4], 3))
print(statistics.median_grouped([1, 2, 3, 4], 5))

2.5
3.0
2.0
1.5
0.5

In [60]:
# Import statistics Library
import statistics

# Calculate the high middle values
print(statistics.median_high([1, 3, 5, 7, 9, 11, 13]))
print(statistics.median_high([1, 3, 5, 7, 9, 11]))
print(statistics.median_high([-11, 5.5, -3.4, 7.1, -9, 22]))

7
7
5.5

In [61]:
# Import statistics Library
import statistics

# Calculate the low middle values
print(statistics.median_low([1, 3, 5, 7, 9, 11, 13]))
print(statistics.median_low([1, 3, 5, 7, 9, 11]))
print(statistics.median_low([-11, 5.5, -3.4, 7.1, -9, 22]))

7
5
-3.4

In [63]:
# Import statistics Library
import statistics

# Calculate the mode
print(statistics.mode([1, 3, 3, 3, 5, 7, 7, 9, 11]))
print(statistics.mode([1, 1, 3, -5, 7, -9, 11]))
print(statistics.mode(['red', 'green', 'blue', 'red']))

3
1
red

In [64]:
# Import statistics Library
import statistics

# Calculate the standard deviation from an entire population
print(statistics.pstdev([1, 3, 5, 7, 9, 11]))
print(statistics.pstdev([2, 2.5, 1.25, 3.1, 1.75, 2.8]))
print(statistics.pstdev([-11, 5.5, -3.4, 7.1]))
print(statistics.pstdev([1, 30, 50, 100]))

3.415650255319866
0.6322358912796886
7.287146217827662
36.09276243237694

In [65]:
# Import statistics Library
import statistics

# Calculate the standard deviation from a sample of data
print(statistics.stdev([1, 3, 5, 7, 9, 11]))
print(statistics.stdev([2, 2.5, 1.25, 3.1, 1.75, 2.8]))
print(statistics.stdev([-11, 5.5, -3.4, 7.1]))
print(statistics.stdev([1, 30, 50, 100]))

3.7416573867739413
0.6925797186365383
8.414471660973927
41.67633221226008

In [66]:
# Import statistics Library
import statistics

# Calculate the variance of an entire population
print(statistics.pvariance([1, 3, 5, 7, 9, 11]))
print(statistics.pvariance([2, 2.5, 1.25, 3.1, 1.75, 2.8]))
print(statistics.pvariance([-11, 5.5, -3.4, 7.1]))
print(statistics.pvariance([1, 30, 50, 100]))

11.666666666666666
0.3997222222222222
53.1025
1302.6875

In [67]:
# Import statistics Library
import statistics

# Calculate the variance from a sample of data
print(statistics.variance([1, 3, 5, 7, 9, 11]))
print(statistics.variance([2, 2.5, 1.25, 3.1, 1.75, 2.8]))
print(statistics.variance([-11, 5.5, -3.4, 7.1]))
print(statistics.variance([1, 30, 50, 100]))

14
0.47966666666666663
70.80333333333333
1736.9166666666667